.popup__input-error {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: rgba(255, 0, 0, 1);
  display: block;
  width: 100%;
  min-height: 31px;
}

.popup__input-error:last-of-type {
  min-height: 47px;
}
