.popup__button {
  position: absolute;
  top: calc(50vh - 205px);
  right: calc(50% - 255px);
}

@media screen and (max-width: 700px) {
  .popup__button {
    top: calc(50vh - 198px);
    right: calc(50% - 141px);
  }
}
