.photos-add__icon-plus {
  width: 22px;
  margin-top: 12px;
  margin-bottom: 12px;
}

@media screen and (max-width: 700px) {
  .photos-add__icon-plus {
    width: 16px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
