.photos__photo {
  width: 100%;
  cursor: pointer;
  /*дальнеший код позволит загружать фотографии соотношений, отличных от 1:1,
  сохраняя при этом одинаковый размер и вид карточек*/
  height: 282px;
  object-fit: cover;
}
