.profil {
  grid-area: profil;
  display: grid;
  grid-template-columns: 150px minmax(100px, max-content) 82px;
  grid-template-rows: 210px;
}

@media screen and (max-width: 330px) {
  .profil {
    max-width: 100%;
    grid-template-columns: 28px minmax(50px, max-content) 28px;
    grid-template-rows: repeat(2, auto);
    grid-template-areas: "avatar avatar avatar"
                         ". information edit";
    justify-content: center;
  }
}
