.profil__avatar {
  max-width: 120px;
  border-radius: 60px;
  margin-top: 41px;
}

@media screen and (max-width: 700px) {
  .profil__avatar {
    grid-area: avatar;
    margin-top: 42px;
    justify-self: center;
  }
}
