.photos {
  /*минимальная высота обеспечить нахождение футера внизу, пока фотографий недостаточно,
  чтобы заполнить всю высоту области просмотра*/
  min-height: calc(100vh - 475px);
  margin: 0;
  padding-left: 0;
  list-style: none;
  grid-area: photos;
  display: grid;
  grid-template-columns: repeat(3, minmax(50px, 1fr));
  grid-template-rows: repeat(2, auto);
  gap: 20px 17px;
}

@media screen and (max-width: 700px) {
  .photos {
    grid-template-columns: repeat(2, minmax(50px, 1fr));
    grid-template-rows: repeat(3, auto);
    padding-top: 36px;
  }
}

@media screen and (max-width: 455px) {
  .photos {
    min-height: calc(100vh - 546px);
    grid-template-columns: repeat(1, minmax(50px, 1fr));
    grid-template-rows: repeat(6, auto);
  }
}
