.button_place_profil {
  width: 24px;
  height: 24px;
  border-width: 1px;
  border-radius: 0;
}

@media screen and (max-width: 700px) {
  .button_place_profil {
    width: 18px;
    height: 18px;
  }
}
