.button_place_photos {
  background-color: #fff;
  border: none;
  width: 22px;
  height: 19px;
  border-radius: none;



  float: right;
}

.button_place_photos:hover {
  opacity: .5;
}

.button_place_photos:focus {
  opacity: .5;
}
